@charset "UTF-8";

/* Edição jogos */
.event-create-container {
    padding: 30px;
}

#event-create-container label {
    font-weight: bold;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea {
    font-size: 12px;
}

.img-preview {
    margin-left: 180px;  
    border: 1px solid black;  /*Remover depois */
}
